.the-header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

input {
  width: 500px;
  height: 28px;
  font-size: 20px;
  margin: 28px;
}

.input-search {
  display:flex;
  justify-content: center;
  align-items: center;
}
